{{define "yield"}}
<div class="contianer">
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">
          <div class="card">
              <h3 class="card-header">RSVP</h3>
              <div class="card-body">
                  {{template "addGuestForm" .}}
              </div>
          </div>
          {{template "guests" .}}
      </div>
      <div class="col-md-4"></div>
  </div>
</div>
{{end}}



<!--Use jQuery to post to correct url instead of formatting-->
{{define "addGuestForm"}}
<form action="{{.Event.DisplayID}}/guest" method="POST">
    <div class="form-group">
        <div class="form-group row">
            <label for="eventName" class="col-sm-2 col-form-label">Event</label>
            <div class="col-sm-10">
                <input type="text" name="eventName" class="form-control-plaintext" id="eventName" readonly value='{{.Event.Name}}'>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="name" name="name" class="form-control" id="name" placeholder="Your name">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{{end}}


{{define "guests"}}
<ul class="list-group">
    {{range .Guests}}
        <li class="list-group-item">{{.Name}}</li>
    {{end}}
  </ul>
{{end}}